.collapseButton {
    
    border-radius: 5px;
    ;
  }
  
  .collapseContent {
    background-color: #F6F6F6;
    padding: 10px;
    color: #FF6060;
    border-radius: 10px;
    
    
  }
  
  .collapseTitle {
    color: #FFFFFF;
    font-weight: 500;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    background-color: #FF6060;
    border-radius: 10px;

    @media screen and (min-width:300px) and (max-width:620px){
      padding:5px;
  }
    
  }
  
  .rotateImage {

    transition: transform 0.3s ease;
    cursor: pointer;
    width: 24px;
    height: 14px;
  }
  
  .rotateImage--collapsed {
    transform: rotate(0deg);
  }
  
  .rotateImage--expanded {
    transform: rotate(180deg);
  }