.navConteneur{
    padding: 30px;
    display: flex;
    justify-content: space-between;
     align-items: center;

     img{
        height: 70px;

        @media screen and (min-width:300px) and (max-width:620px){
         height:46px;
         width: 100px;
     }
     }
     @media screen and (min-width:300px) and (max-width:620px){
      padding:0px;
  }
}